@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&family=Roboto:wght@500&display=swap');

body{
  margin: 0;
}

a {
  text-decoration: none;
}
.principal{
  z-index: 5;
  
    background-color: white;
    width: 1440px;
    height: 1024px;  
    border: 1px solid black;
    
}

.flex{
  display: flex;
  justify-content: row;
}
.background{
  z-index: 5;
 background-image: url(/assets/imgs/fondo-zapatos.jpg);
 background-size: cover;
    width: 1440px;
    height: 807px;
    
}

.centro{
   z-index: 5;
    background-color: white;
    position: absolute;
    left: 409px;
    width: 622px;
    height: 1024px;
   border: 1px solid black;
   text-align: center;
}

header{
  
width: 1440px;
height: 217px;
}
.recaz{
  z-index: 4;
  background-color: #4d69fa;
  width: 96px;
  height: 48px;


}

.text1{

  
z-index: 5;
margin-left: 250px;
margin-top: 57px;
justify-content: space-between;

}

.text1 > div{
  padding: 10px;
  align-self:stretch;
}

.about{

width: 58px;
height: 23px;
left: 1045px;
top: 57px;


font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;

color: #000000;

}

.contact{
  width: 105px;
  height: 23px;
  left: 1156px;
  margin-left: 63px;
  
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  
  color: #000000;
  
  text-shadow: 0px 4px 4px rgba(41, 52, 111, 0.2);
  
}

.sign{
width: 96px;
height: 48px;
left: 1296px;
top: 58px;

margin-left: 25px;



font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 23px;

color: #ffffff;

text-shadow: 0px 4px 4px rgba(63, 76, 139, 0.2);
}

.barras{
  width: 32px;
  height: 38px;
  background-image: url(/assets/imgs/align-justify.png);
  margin-top: 43px;
  margin-left: 48px;

}

.sneaker{
  width: 480px;
  margin-top: 198px;
  margin: 198px 0 40px;
}

.world{
  width: 100%;
  text-align: center;

}
.world h1{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500px;
  font-size: 90px;
  line-height: 18px;
letter-spacing: 0.11em;
text-align: center;
}
.loren{
  width: 350px;
  margin-left: 137px;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
text-align: center;
letter-spacing: 0.06em;
}

.button{
  width: 167px;
  height: 57px;
  background-color: white;
}

.iconos{
  width: 176px;
  height: 32px;
  justify-content: space-between;
  margin-top: 222px;
  margin-left: 220px;
}

.acer{
  z-index: 5;
  margin-top: 32px;
  margin-left: 611px;
}